<section class="section" id="aboutus">
  <div class="hero-body has-text-centered-mobile">
    <p class="primary-text title is-1-desktop is-3-tablet is-5-mobile" data-aos="fade-right"
      data-aos-anchor-placement="top-center">
      About us
    </p>

    <div class="columns is-8" data-aos="fade-right" data-aos-anchor-placement="top-center">
      <div class="column px-5">
        <p class="subtitle  is-size-5 has-text-justified mt-1">
          Founded in 2021 to bring a different concept in flavors and food experiences to Dublin. Creators of the authentic and exclusive Pizza’s that in turn has generated in the palates of our guests a sensation never experienced before, due to the quantity and quality of ingredients that were placed in the recipe for this pizza.
        </p>

        <figure class="image is-hidden-mobile">
          <img class="borders box-shadow"
            src="https://images.pexels.com/photos/1653877/pexels-photo-1653877.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="">
        </figure>
      </div>
      <div class="column px-5" data-aos="fade-left" data-aos-anchor-placement="top-center">
        <figure class="image">
          <img class="borders box-shadow"
            src="https://images.pexels.com/photos/7142952/pexels-photo-7142952.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="">
        </figure>
        <br>
        <p class="subtitle  is-size-5 has-text-justified px-2 mt-1">
          All our products are made with fresh, natural ingredients of the best quality to bring the best food to the table or to your favorite place.
Over time we have placed all our care to present new combinations of flavors with the aim of pleasing all tastes. Our traditional tomato sauce is made by our own hands, giving a homemade, handmade touch to the flavor of our products.
        </p>

      </div>
    </div>



  </div>
</section>
